# For all configurations
# values should not be enclosed within quotes
[PROJECT]
ROOT=path
# 100 is safe
# SLEEP_TIME_AFTER_SCRAPE=100
SLEEP_TIME_AFTER_SCRAPE=100

[LOGIN]
EMAIL=email
PASSWORD=pass
LOGIN_FROM=https://www.wuxiaworld.com/

[SQL]
DATABASE=wuxiaworld
TABLE=novel
DB_PASSWORD=

[DRIVERS]
GECKO_EXE_PATH=path
CHROME_EXE_PATH=path

[EXTENSIONS]
FOX_EXT_BASE_PATH=path
PRIVACY_BADGER=file_name
GHOSTERY=file_name
UBO=file_name

[NOVEL]
BASE_DIR_PATH=path