# For all configurations

[LOGIN]
EMAIL="email"
PASSWORD="pass"

[SQL]
DATABASE="wuxiaworld"
TABLE="novel"
DB_PASSWORD=""

[DRIVERS]
GECKO_EXE_PATH="path"
CHROME_EXE_PATH="path"

[EXTENSIONS]
FOX_EXT_BASE_PATH="path"